<?xml version="1.0" encoding="UTF-8"?>
<Definition>
	<Import url="mod://Ankama_Config/ui/template/configCheckbox.xml" />

	<Constants>
		<Constant name="assets" value="[config.ui.skin]assets.swf|" />
		<Constant name="css" value="[config.ui.skin]css/" />
	</Constants>

	<Container name="configUiCtr">

		<!-- Label title1 -->

		<Label name="lbl_title1">
			<Anchors>
				<Anchor>
					<AbsDimension x="0" y="0" />
				</Anchor>
			</Anchors>
			<Size>
				<AbsDimension x="750" y="20" />
			</Size>
			<text>Messages</text>
			<css>[local.css]titleSmall.css</css>
		</Label>

		<!-- Texture tx_bgForeground1-->

		<Texture name="tx_bgForeground1">
			<Anchors>
				<Anchor relativeTo="lbl_title1">
					<AbsDimension x="0" y="30" />
				</Anchor>
			</Anchors>
			<Size>
				<AbsDimension x="780" y="180" />
			</Size>
			<autoGrid>true</autoGrid>
			<uri>[local.assets]tx_darkBg</uri>
		</Texture>

		<!-- Label title2 -->

		<Label name="lbl_title2">
			<Anchors>
				<Anchor relativeTo="tx_bgForeground1">
					<AbsDimension x="0" y="200" />
				</Anchor>
			</Anchors>
			<Size>
				<AbsDimension x="750" y="20" />
			</Size>
			<text>Divers</text>
			<css>[local.css]titleSmall.css</css>
		</Label>

		<!-- Texture tx_bgForeground2-->

		<Texture name="tx_bgForeground2">
			<Anchors>
				<Anchor relativeTo="lbl_title2">
					<AbsDimension x="0" y="30" />
				</Anchor>
			</Anchors>
			<Size>
				<AbsDimension x="780" y="180" />
			</Size>
			<autoGrid>true</autoGrid>
			<uri>[local.assets]tx_darkBg</uri>
		</Texture>

		<Container>
			<Anchors>
				<Anchor relativeTo="tx_bgForeground1">
					<AbsDimension x="20" y="0" />
				</Anchor>
			</Anchors>
			<Size>
				<AbsDimension x="20" y="10" />
			</Size>

			<configCheckbox name="btn_pv"     text="Partager les messages privés (/w)"      uri="[local.assets]tx_light_checkbox"/>
			<configCheckbox name="btn_party"  text="Partager les messages de groupe (/p)"   uri="[local.assets]tx_light_checkbox"/>
			<configCheckbox name="btn_guild"  text="Partager les messages de guilde (/g)"   uri="[local.assets]tx_light_checkbox"/>
			<configCheckbox name="btn_team"   text="Partager les messages d'équipe (/t)"    uri="[local.assets]tx_light_checkbox"/>
			<configCheckbox name="btn_kolize" text="Partager les messages de kolizeum (/k)" uri="[local.assets]tx_light_checkbox"/>
		</Container>

		<Container>
			<Anchors>
				<Anchor relativeTo="tx_bgForeground2">
					<AbsDimension x="20" y="0" />
				</Anchor>
			</Anchors>
			<Size>
				<AbsDimension x="20" y="10" />
			</Size>

			<configCheckbox name="btn_pseudo" text="Partager les messages contenant mon pseudo"                                       uri="[local.assets]tx_light_checkbox"/>
			<configCheckbox name="btn_word"   text="Partager les messages contenant le mot : ..."                                   uri="[local.assets]tx_light_checkbox"/>
			<configCheckbox name="btn_server" text="Afficher le nom du serveur dans les messages partagés"                            uri="[local.assets]tx_light_checkbox"/>
			<configCheckbox name="btn_info"   text="Partager les messages d'information (vente, agression, invitation, échange, ...)" uri="[local.assets]tx_light_checkbox"/>
		</Container>
	</Container>
</Definition>

