<?xml version="1.0" encoding="UTF-8"?>
<Definition>
	<Import url="mod://Ankama_Config/ui/template/configCheckbox.xml" />
	
	<Constants>
		<Constant name="assets" value="[config.ui.skin]assets.swf|" />
		<Constant name="css" value="[config.ui.skin]css/" />
	</Constants>

	<Container name="configUiCtr">
		
		<!-- Label title1 -->

		<Label name="lbl_title1">
			<Anchors>
				<Anchor>
					<AbsDimension x="0" y="0" />
				</Anchor>
			</Anchors>
			<Size>
				<AbsDimension x="750" y="20" />
			</Size>
			<text>Messages</text>
			<css>[local.css]titleSmall.css</css>
		</Label>
		
		<!-- Texture tx_bgForeground1-->

		<Texture name="tx_bgForeground1">
			<Anchors>
				<Anchor relativeTo="lbl_title1">
					<AbsDimension x="0" y="30" />
				</Anchor>
			</Anchors>
			<Size>
				<AbsDimension x="780" y="180" />
			</Size>
			<autoGrid>true</autoGrid>
			<uri>[local.assets]tx_darkBg</uri>
		</Texture>

		<!-- Label title2 -->

		<Label name="lbl_title2">
			<Anchors>
				<Anchor relativeTo="tx_bgForeground1">
					<AbsDimension x="0" y="200" />
				</Anchor>
			</Anchors>
			<Size>
				<AbsDimension x="750" y="20" />
			</Size>
			<text>Divers</text>
			<css>[local.css]titleSmall.css</css>
		</Label>

		<!-- Texture tx_bgForeground2-->

		<Texture name="tx_bgForeground2">
			<Anchors>
				<Anchor relativeTo="lbl_title2">
					<AbsDimension x="0" y="30" />
				</Anchor>
			</Anchors>
			<Size>
				<AbsDimension x="780" y="180" />
			</Size>
			<autoGrid>true</autoGrid>
			<uri>[local.assets]tx_darkBg</uri>
		</Texture>

		<!-- Checkbox container1 -->
		
		<Container>
			<Anchors>
				<Anchor relativeTo="tx_bgForeground1">
					<AbsDimension x="20" y="0" />
				</Anchor>
			</Anchors>
			<Size>
				<AbsDimension x="20" y="10" />
			</Size>
		
			<configCheckbox name="checkbox_mp"     text="Partager les messages privés (/w)"      uri="[local.assets]tx_light_checkbox"/>
			<configCheckbox name="checkbox_group"  text="Partager les messages de groupe (/p)"   uri="[local.assets]tx_light_checkbox"/>
			<configCheckbox name="checkbox_team"   text="Partager les messages d'équipe (/t)"    uri="[local.assets]tx_light_checkbox"/>
			<configCheckbox name="checkbox_kolize" text="Partager les messages de kolizeum (/k)" uri="[local.assets]tx_light_checkbox"/>
			<configCheckbox name="checkbox_guilde" text="Partager les messages de guilde (/g)"   uri="[local.assets]tx_light_checkbox"/>
		</Container>
		
		<!-- Checkbox container2 -->
		
		<Container>
			<Anchors>
				<Anchor relativeTo="tx_bgForeground2">
					<AbsDimension x="20" y="0" />
				</Anchor>
			</Anchors>
			<Size>
				<AbsDimension x="20" y="10" />
			</Size>
		
			<configCheckbox name="checkbox_pseudo"     text="Partager les messages contenant mon pseudo"          uri="[local.assets]tx_light_checkbox"/>
			<!-- Partager les messages contenant les mots suivants : XX XX XX -->
			<configCheckbox name="checkbox_server"     text="Partager les messages entre les différents serveurs" uri="[local.assets]tx_light_checkbox"/>
			<configCheckbox name="checkbox_serverName" text="Afficher nom du serveur d'origine"                   uri="[local.assets]tx_light_checkbox" offset="40"/>
			<configCheckbox name="checkbox_info"       text="Partager les messages d'informations (vente, ...)"   uri="[local.assets]tx_light_checkbox" offset="-40"/>
		</Container>
	</Container>
</Definition>

